<div class="page_section_separator"></div>

<div id="footer">
    <div id="footer_content">
        <span id="footer_title">Green Label</span>
        <hr id="footer_hr"/>
        <span class="small">2023</span>
        <br/>
        <span class="small">Web Development & Web Design : Juliano De Lima</span>
    </div>
</div>

<style>
    #footer{
        background-color: var(--dd-gray-bg);
        color: green;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
    }
    #footer_content{
        padding: 1.25em;
    }
    #footer_title{
        font-size: 1.25em;
        font-weight: bold;
    }
    #footer_hr{
        border: none;
        border-top: 0.02em solid var(--d-green-separator);
        width: 30%;
    }


</style>